RewriteEngine On
# Jika direktori atau file yang diminta tidak ada, arahkan ke login.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ dashboard.php [L]
RewriteRule ^$ dashboard.php [L]